<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>JourneySeekerHub</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg bg-dark fixed-top">
      <!-- <label class="logo">If you love travelling...That's your place!</label> -->
        <ul>
            <li><a class="auth-active" th:href="@{/register}">Register</a></li>
            <li><a class="auth-active" th:href="@{/login}">Login</a></li>
            <li><a class="auth-active"  th:href="@{/logout}">Logout</a></li>

            <li><a class="active" th:href="@{/home}">Home</a></li>
            <li><a class="active" th:href="@{/}">Book now</a></li>
            <li><a class="active" th:href="@{/}">Hotels</a></li>
            <li><a class="active" th:href="@{/about-us}">About us</a></li>
            <li><a class="active" th:href="@{/contacts}">Contacts</a></li>
            <li><a class="active" th:href="@{/}">Feedback</a></li>


        </ul>
    </nav>
</div>
</header>
</body>
</html>