<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>JourneySeekerHub</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<nav>
    <label class="logo">If you love travelling...That's your place!</label>
    <ul>
        <li><a class="active" href="#">Home</a></li>
        <li><a class="active" href="#">Book now</a></li>
        <li><a class="active" href="#">Hotels</a></li>
        <li><a class="active" href="#">About us</a></li>
        <li><a class="active" href="#">Contacts</a></li>
        <li><a class="active" href="#">Feedback</a></li>


    </ul>
</nav>

<div class="homepage">
    <h2>Welcome</h2>

</div>
</body>
</html>