*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Comic Sans MS";
}
nav {
    background: #0082e6;
    height: 80px;
    width: 100%;
}
label.logo {
    color: white;
    font-size: 38px;
    line-height: 80px;
    padding: 0 30px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: white;
    font-size: 25px;
    padding: 7px 13px;
    border-radius: 3px;
}
a.active,a.hover{
    background: #1b9bff;
    transition: .5s;
}

body {
    background-image: url("/img/aroundTheWorld.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;

}

.registerbox {
    width: 1000px;
    height: 750px;
    background:#0082e6;
    opacity: 0.9;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 70px;
    border-radius: 20px;
}
.loginbox {
    width: 1000px;
    height: 370px;
    background:#0082e6;
    opacity: 0.9;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 70px;
    border-radius: 20px;
}

h1 {
    margin: 0;
    padding: 0 0 0;
    text-align: center;
    font-size: 22px;
    color: white;
}
h2 {
    margin: 0;
    padding: 20px 300px;
    font-size: 300px;
}

.registerbox p, .loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: white;
}

.registerbox input, .loginbox input {
    width: 100%;
    margin-bottom: 20px;

}

.registerbox input[type="text"], input[type="password"], input[type="number"], .loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.registerbox input[type="submit"], .loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #1b9bff;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;

}

.registerbox a, .loginbox a {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: white;
}
